<div class="container">
    <div class="banner">
        <img src="/images/aboutBanner.svg" alt=" Banner of blurred out bagels with the heading: About">
    </div>
    <div class="content">
        <div class="box1">
            <img src="/images/oldDeli.jpg" alt="Picture of the outside of the deli">
            <h2>About Us:</h2>
                <p>Established in 1966.<br>
            New York Bagel & Bialy (now Greenwood Deli- New York Bagel and Bialy) was founded in the Chicago area by the original partners who moved here from New York City.
            They learned their craft well from old world bakers, family members who had brought their recipes and trade craft with them when they moved to New York from western Europe.</p>
            
            <h2>About the Owners:</h2>
                <p>Danilo and Kim took over the Deli/Bakery in 2011. Since then, they have made multiple improvements to the look of the Deli. Danilo has over 25 years of experience managing a Deli
                and worked at this location for 7 years while attending High School and DePaul University.<br>
                Fernando is currently managing the Deli, he has been in the current location for over 30 years.</p>
        </div>
            