<div class="container">
    <div class="banner-menu">
        <img src="/images/menuBanner.svg" alt=" Banner of blurred out bagels with the heading: Menu">
    </div>

    <div class="nav-menu">
                <div class="navcontents-menu">
                    <ul>

                        <li><a href="/menu">Bagels</a></li>
                        <li><a href="/sandwiches">Sandwiches</a></li>
                        <li><a href="/delimeats">Deli Meats</a></li>
                        <li><a href="/deliitems">Deli Items</a></li>
                    </ul>
                </div>
    </div>

    <section class="section"> <!--This is the Cream Cheese section-->
        <h2 class="sr-only">Sandwiches</h2>
        <h2>Cream Cheese</h2>
        <div class="miniHead">
            <p>Priced Per Pound</p>
        </div>
        <div class="product-grid">

            <div class="product-card group">
                <div class="product-info">
                    <h3>Plain</h3>
                    <p>$6.99</p>
                    
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Chive</h3>
                    <p>$7.99</p>
                </div>
            </div>

             <div class="product-card group">
                <div class="product-info">
                    <h3>Veggie</h3>
                    <p>$7.99</p>
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Jalapeno</h3>
                    <p>$7.99</p>
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Strawberry</h3>
                    <p>$7.99</p>
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Lox Spread</h3>
                    <p>$9.99</p>
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Cinnamon Raisin</h3>
                    <p>$7.99</p>
                </div>
            </div>

        </div>
    </section>

    <section class="section">      <!--This is the Salads section-->
        <h2 class="sr-only">Sandwiches</h2>
            <h2>Salads</h2>
            <div class="miniHead">
            <p>Priced Per Pound</p>
        </div>
        <div class="product-grid">

            <div class="product-card group">
                <div class="product-info">
                    <h3>Potato Salad</h3>
                    <p>$5.99</p>
                    
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Cole Slaw</h3>
                    <p>$5.99</p>
                </div>
            </div>

             <div class="product-card group">
                <div class="product-info">
                    <h3>Chicken Salad</h3>
                    <p>$10.99</p>
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Tuna Salad</h3>
                    <p>$11.99</p>
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Egg Salad</h3>
                    <p>$10.99</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section"> <!--This is the Cheese section-->
        <h2 class="sr-only">Sandwiches</h2>
            <h2>Cheese</h2>
            <div class="miniHead">
            <p>Priced Per Pound</p>
        </div>
        <div class="product-grid">

            <div class="product-card group">
                <div class="product-info">
                    <h3>American</h3>
                    <p>$6.99</p>
                    
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Muenster</h3>
                    <p>$7.99</p>
                </div>
            </div>

             <div class="product-card group">
                <div class="product-info">
                    <h3>Cheddar</h3>
                    <p>$8.99</p>
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Swiss</h3>
                    <p>$8.99</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section"> <!--This is the Deli Msic. section-->
        <h2 class="sr-only">Sandwiches</h2>
            <h2>Deli Misc.</h2>
        <div class="product-grid">

            <div class="product-card group">
                <div class="product-info">
                    <h3>Pickles</h3>
                    <p>$4.99</p>
                    
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Dill Tomatoes</h3>
                    <p>$4.99</p>
                </div>
            </div>

             <div class="product-card group">
                <div class="product-info">
                    <h3>Onions & Tomatoes</h3>
                    <p>$3.29</p>
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Greek Olives</h3>
                    <p>$8.99</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section"> <!--This is the Pastry Goods section-->
        <h2 class="sr-only">Sandwiches</h2>
            <h2>Pastry Goods</h2>
        <div class="product-grid">

            <div class="product-card group">
                <div class="product-info">
                    <h3>Donuts</h3>
                    <p>$1.25</p>
                    
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Large Cookies</h3>
                    <p>$1.99</p>
                </div>
            </div>

             <div class="product-card group">
                <div class="product-info">
                    <h3>Dessert Bars</h3>
                    <p>$1.99</p>
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Brownies</h3>
                    <p>$1.99</p>
                </div>
            </div>
        </div>
    </section>
</div>
    