<div class="container">
    <div class="banner-menu">
        <img src="/images/menuBanner.svg" alt=" Banner of blurred out bagels with the heading: Menu">
    </div>

    <div class="nav-menu">
                <div class="navcontents-menu">
                    <ul>

                        <li><a href="/menu">Bagels</a></li>
                        <li><a href="/sandwiches">Sandwiches</a></li>
                        <li><a href="/delimeats">Deli Meats</a></li>
                        <li><a href="/deliitems">Deli Items</a></li>
                    </ul>
                </div>
    </div>

    <section class="section"> <!--This is the Meat Section-->
        <h2 class="sr-only">Sandwiches</h2>
        <h2>Meats</h2>
        <div class="miniHead">
            <p>Priced Per Pound</p>
        </div>
        <div class="product-grid">

            <div class="product-card group">
                <div class="product-info">
                    <h3>Corn Beef</h3>
                    <p>$22.99</p>
                    
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Extra Lean Corn Beef</h3>
                    <p>$25.99</p>
                </div>
            </div>

             <div class="product-card group">
                <div class="product-info">
                    <h3>Pastrami</h3>
                    <p>$22.99</p>
                </div>
            </div>
            <div class="product-card group">
                <div class="product-info">
                    <h3>Turkey Breast</h3>
                    <p>$15.99</p>
                    
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Turkey Pastrami</h3>
                    <p>$22.99</p>
                </div>
            </div>

             <div class="product-card group">
                <div class="product-info">
                    <h3>Roast Beef</h3>
                    <p>$15.99</p>
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Chopped Liver (Beef)</h3>
                    <p>$13.99</p>
                    
                </div>
            </div>
        </div>
    </section>

    <section class="section"> <!--This is the Salami Section-->
        <h2 class="sr-only">Sandwiches</h2>
        <h2>Salami</h2>
        <div class="miniHead">
            <p>Priced Per Pound</p>
        </div>
        <div class="product-grid">
            <div class="product-card group">

                <div class="product-info">
                    <h3>Soft</h3>
                    <p>$11.99</p>
                    
                </div>
            </div>

            <div class="product-card group">

                <div class="product-info">
                    <h3>Medium</h3>
                    <p>$13.99</p>
                </div>
            </div>

             <div class="product-card group">

                <div class="product-info">
                    <h3>Hard</h3>
                    <p>$17.99</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section"> <!--This is the Fish Section-->
        <h2 class="sr-only">Sandwiches</h2>
        <h2>Fish</h2>
        <div class="miniHead">
            <p>Priced Per Pound</p>
        </div>
        <div class="product-grid">

            <div class="product-card group">
                <div class="product-info">
                    <h3>*Smoked White Fish / Chubs</h3>
                    <p>$20.99</p>
                    
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Sable</h3>
                    <p>$38.99</p>
                </div>
            </div>

             <div class="product-card group">
                <div class="product-info">
                    <h3>Nova/ Regular Lox</h3>
                    <p>$35.99</p>
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>*Wine Herring</h3>
                    <p>$10.99</p>
                    
                </div>
            </div>
        </div>
    </section>
</div><!--This is the container Div-->
    