<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>Greenwood Deli</title>
        <link rel="stylesheet" href="/css/greenwooddeli.css">
        
    </head>
    <body>
        <div class="container">
            <div class="header">
                <img src="/images/delilogo.png" alt="Greenwood Deli Logo">
            </div>
            <div class="nav">
                <div class="navcontents">
                    <ul>

                        <li><a href="/">Home</a></li>
                        <li><a href="/menu">Menu</a></li>
                        <li><a href="/trays">Trays</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
    
                </div>
            </div>
        </div>
        
        <%-body%>
        <div class="footer">
            <p>8794 West Dempster St. Niles, IL 60714<br>
                (847)390-0993</p>
        </div>
    </body>
</html>