<div class="container">
    <div class="banner-menu">
        <img src="/images/menuBanner.svg" alt=" Banner of blurred out bagels with the heading: Menu">
    </div>

    <div class="nav-menu">
                <div class="navcontents-menu">
                    <ul>

                        <li><a href="/menu">Bagels</a></li>
                        <li><a href="/sandwiches">Sandwiches</a></li>
                        <li><a href="/delimeats">Deli Meats</a></li>
                        <li><a href="/deliitems">Deli Items</a></li>
                    </ul>
                </div>
    </div>

    <section class="section"><!--This is the Hot Sandwiches Section-->
        <h2 class="sr-only">Sandwiches</h2>
        <h2>Hot Sandwiches</h2>
        <div class="product-grid">
            <div class="product-card group">

                <div class="product-info">
                    <h3>Corn Beef</h3>
                    <p>$11.99</p>
                    
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Extra Lean Corn Beef</h3>
                    <p>$12.99</p>
                </div>
            </div>

             <div class="product-card group">
                <div class="product-info">
                    <h3>Pastrami</h3>
                    <p>$11.99</p>
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Combo</h3>
                    <p>$13.99</p>
                    
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Reuben</h3>
                    <p>$13.99</p>
                </div>
            </div>

             <div class="product-card group">
                <div class="product-info">
                    <h3>Tuna Melt</h3>
                    <p>$11.99</p>
                </div>
            </div>

        </div>
    </section>


    <section class="section"> <!--This is the Cold Sandwiches Section-->
        <h2 class="sr-only">Sandwiches</h2>
        <h2>Cold Sandwiches</h2>
        <div class="product-grid">
            <div class="product-card group">
                
                <div class="product-info">
                    <h3>Lox & Cream Cheese</h3>
                    <p>$12.99</p>
                    
                </div>
            </div>

            <div class="product-card group">
               
                <div class="product-info">
                    <h3>Bagel & Cream Cheese</h3>
                    <p>$3.59</p>
                </div>
            </div>

             <div class="product-card group">

                <div class="product-info">
                    <h3>Turkey Breast</h3>
                    <p>$11.99</p>
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Turkey Pastrami</h3>
                    <p>$11.99</p>
                    
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Roast Beef</h3>
                    <p>$11.99</p>
                </div>
            </div>

             <div class="product-card group">
                <div class="product-info">
                    <h3>Tuna Salad</h3>
                    <p>$10.99</p>
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Chicken Salad</h3>
                    <p>$10.99</p>
                    
                </div>
            </div>

            <div class="product-card group">
                <div class="product-info">
                    <h3>Egg Salad</h3>
                    <p>$10.99</p>
                </div>
            </div>

             <div class="product-card group">
                <div class="product-info">
                    <h3>Chopped Liver</h3>
                    <p>$10.99</p>
                </div>
            </div>

        </div>
    </section>

    <section class="section"> <!--Salami Sandwiches-->
        <h2 class="sr-only">Sandwiches</h2>
            <h2>Salami</h2>
        <div class="product-grid">
            <div class="product-card group">
                
                <div class="product-info">
                    <h3>Soft</h3>
                    <p>$10.99</p>
                    
                </div>
            </div>

            <div class="product-card group">
               
                <div class="product-info">
                    <h3>Medium</h3>
                    <p>$11.99</p>
                </div>
            </div>

             <div class="product-card group">

                <div class="product-info">
                    <h3>Hard</h3>
                    <p>$12.99</p>
                </div>
            </div>
        </div>
    </section>
</div>
    